*{
    margin: 0;
    padding: 0;
}
body{
    background: #ececec;
}
.ring{
    margin: auto;
    position: absolute;
    inset: 0;
    border: 15px solid #ececec;
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.3), 10px 10px 15px rgba(70,70,70,0.15), inset -10px -10px 15px rgba(255,255,255,0.3), inset 10px 10px 15px rgba(70,70,70,0.15);
    background: #ececec;
}
.ring4{
    width: 30px;
    height: 30px;
    -webkit-animation: glow4 2.5s infinite;
            animation: glow4 2.5s infinite;
}
@-webkit-keyframes glow4{
    0%{
        background-color: #ececec;
    }
    20%{
        background-color: #ffad00;
    }
    100%{
        background-color: #ffad00;
    }
}
@keyframes glow4{
    0%{
        background-color: #ececec;
    }
    20%{
        background-color: #ffad00;
    }
    100%{
        background-color: #ffad00;
    }
}
.ring3{
    width: 120px;
    height: 120px;
    -webkit-animation: glow3 2.5s infinite;
            animation: glow3 2.5s infinite;
}
@-webkit-keyframes glow3{
    20%{
        background-color: #ececec;
    }
    40%{
        background-color: #ffad00;
    }
    100%{
        background-color: #ffad00;
    }
}
@keyframes glow3{
    20%{
        background-color: #ececec;
    }
    40%{
        background-color: #ffad00;
    }
    100%{
        background-color: #ffad00;
    }
}
.ring2{
    width: 200px;
    height: 200px;
    -webkit-animation: glow2 2.5s infinite;
            animation: glow2 2.5s infinite;
}
@-webkit-keyframes glow2{
    40%{
        background-color: #ececec;
    }
    60%{
        background-color: #ffad00;
    }
    100%{
        background-color: #ffad00;
    }
}
@keyframes glow2{
    40%{
        background-color: #ececec;
    }
    60%{
        background-color: #ffad00;
    }
    100%{
        background-color: #ffad00;
    }
}
.ring1{
    width: 280px;
    height: 280px;
    -webkit-animation: glow1 2.5s infinite;
            animation: glow1 2.5s infinite;
}
@-webkit-keyframes glow1{
    60%{
        background-color: #ececec;
    }
    80%{
        background-color: #ffad00;
    }
    100%{
        background-color: #ffad00;
    }
}
@keyframes glow1{
    60%{
        background-color: #ececec;
    }
    80%{
        background-color: #ffad00;
    }
    100%{
        background-color: #ffad00;
    }
}